body{
    font: 20px serif;
}

.navbar {
background-color: #3b5c035d;
}

.sobre {
    background-color: #3449105d;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.amigos {
    background-color: rgba(42, 104, 42, 0.486);
}

.bg-footer{
    color: black;
}